<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../../../assets/women.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
   
          <p class="card-text">Some more <br>information about <br>your business</p>
          <p class="card-text"><small class="text-body-secondary">Share a little about yourself as a business owner, or maybe describe what makes your product or service unique. 
            Give visitors one more reason to care about your offer and want to buy from you.</small></p>
        </div>
      </div>
    </div>
  </div>