<div class="card text-bg-dark">
    <div class="card-img-overlay">
        <h5 class="card-title">Fresh <b>Goods</b></h5>
       <h1> <p class="card-text">Concisely
            describe your product or service</p></h1>
        <p class="card-text"><small>No need to get clever. Tell people exactly what you're offering, <br>then use this space to communicate your key value proposition.</small></p>
        <div class="button-container">
            <button class="btn">Learn More</button>
        </div>
    </div>
</div>