<div class="card-group">
    <div class="card">
      <img src="../../../../assets/b1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Benefit 1</h5>
        <p class="card-text">For example, restaurants and bakeries could outline the health benefits of their all-natural ingredients.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="../../../../assets/b2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Benefit 2</h5>
        <p class="card-text">Florists and other small retailers might use this space to describe how their products make delightful, one-of-a-kind gifts.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="../../../../assets/b3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Benefit 2</h5>
        <p class="card-text">You could also add buttons to this section and share links to other products or available delivery methods.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  